html {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

body {
    padding: 2rem;
    background-color: rgb(208, 210, 255);
}

h3 {
    margin-bottom: 0;
}

p {
    margin: 0;
}

a:visited {
    color: blue;
}